$color_blue: #fff
*
  font-family: 微軟正黑體
  //border: solid 2px #777
body
  height: 1000px
h1, h2, h3, h4, h5, h6
  font-weight: 500

header.jumbotron
  height: 500px
  margin-bottom: 0px
  text-align: center
  background-image: url(http://5.1015600.com/2016/pic/000/378/ab77a9190962b07bf385e151cd8f6d10.jpg)
  background-size: cover
  mix-blend-mode: multiply
  background-attachment: fixed
  .container
    color: white
    padding: 100px 100px
  hr
    max-width: 300px
    //border: solid 2px $color_blue
  h4
    color: rgba(white, 0.8)
section
  padding: 50px 0px
section#section_ask
  background-color: $color_blue
  .col-sm-5.img
    background-image: url(https://i.kfs.io/album/global/21441512,0v1/fit/500x500.jpg)
    height: 350px
    background-size: cover
    mix-blend-mode: multiply
  h2
    margin-top: 130px
    padding: 0px 20px
    
  section#section_about
    img
      width: 150%
    .img_wrap
      height: 150px
      overflow: hidden