nav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      a.navbar-brand(href="#") G.E.M
    .nav.navbar-nav.navbar-right
      li
        a(href="#section_ask") 引言 INTRO
      li
        a(href="#section_about") 關於 ABOUT
      li
        a(href="#section_video") 影片 VIDEO
      li
        a(href="https://baike.baidu.com/item/%E9%82%93%E7%B4%AB%E6%A3%8B" target="_blank") 百度 GEM
header.jumbotron
  .container
    h1 鄧紫棋 G.E.M
    hr
    h4 Queen Of Hearts 世界巡迴演唱會
section#section_ask
  .container
    .row
      .col-sm-5.img
      .col-sm-7
        h2 誰是鄧紫棋? 
section#section_about
  .container
    .row
      .col-sm-12
        h1 鄧紫棋G.E.M
        hr
      .col-sm-4
        .img_wrap
        img(src="https://goo.gl/vfJe3d", alt="")
        h3 G.E.M.
        p “Get Everybody Moving”即“让大家动起来”；而GEM也有“珍宝”之意。
      .col-sm-4
       .img_wrap
        img(src="https://goo.gl/vfJe3d", alt="")
        h3 邓诗颖
        p 出生于中国上海，四岁时移居英属香港，是一名华语创作歌手。父亲是香港人，母亲是上海音乐学院声乐系毕业生，外婆教唱歌，舅父拉小提琴，外公在乐团吹萨克斯风。在家人的熏陶下，邓紫棋自小便热爱音乐，喜爱唱歌。
      .col-sm-4
       .img_wrap
        img(src="https://goo.gl/vfJe3d", alt="")
        h3 音樂是唯一語言
        p 1991年出生的香港創作型女歌手鄧紫棋（G.E.M.）是頗受全球華人青年一代喜愛的新生代藝人，16歲出道以來唱片銷量火爆、得獎無數，並因參與歌唱真人秀吸引各個年齡段觀眾群的關注。
  section#section_video
    .container
      .row
        .col-sm-12
          h1 鄧紫棋 / MV（光年之外）
          hr
        .col-sm-12
          .embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item(src="https://www.youtube.com/embed/T4SimnaiktU", allowfullscreen="")